# IDE / Project files
*.iml
/.idea
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Gradle / build
.gradle
/build
/captures
.externalNativeBuild
.cxx

# Local config
/local.properties

# Mac system files
.DS_Store